#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Binary is pre-built, skip compilation
	@echo "Using pre-built binary"

override_dh_auto_install:
	install -D -m 0755 dpkg-build-pg debian/dpkg-build-pg/usr/bin/dpkg-build-pg
	install -D -m 0644 debian/dpkg-build-pg.service debian/dpkg-build-pg/lib/systemd/system/dpkg-build-pg.service

override_dh_auto_test:
	# Skip tests for now

override_dh_auto_clean:
	# Binary is pre-built, nothing to clean
